################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/FlowEngine/.vs/FlowEngine/v15/Server/sqlite3
/FlowEngine/.vs/FlowEngine/v15/sqlite3/db.lock
